*                        @GeraBart

/packages/ui-kit/        @SysoevAndrey
/packages/telemetry/     @hello1101n

/template-shell/         @gs-layer @itechmeat @tscbmstubp
/template-mfe/           @gs-layer @itechmeat @tscbmstubp
